# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.metadata

# IDE
.idea/
.vscode/
*.iml

# Environment variables & secrets
.env
.env.*
*.env

# OS
.DS_Store

